.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
  position: relative;
}

.dot-grid__wrap {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  pointer-events: none;
}
